VITE_SUPABASE_URL=https://eyvjczgmjmbszqvejctd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV5dmpjemdtam1ic3pxdmVqY3RkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU2NzQ3NzksImV4cCI6MjEwMTI1MDc3OX0.D64EoqN_bX9Ra1u-LvVvIbEsCCow3yOkqctcLxwMK-M
